# ~/.bashrc.custom
# This file is managed by Puppet.  Changes will be overwritten.
# Please edit ~/.bashrc.custom instead of this file!


# My aliases
alias ls='ls --color=auto'
alias dir='ls -alF'

ulimit -v unlimited

export CVS_RSH='ssh'
export RSYNC_RSH='ssh'

# Append commands to the bash command history file (~/.bash_history)
# instead of overwriting it.
shopt -s histappend

# Avoid succesive duplicates in the bash command history.
export HISTCONTROL=ignoredups

# Append commands to the history every time a prompt is shown,
# instead of after closing the session.
PROMPT_COMMAND='history -a'

export PATH="$PATH:$HOME/bin:/opt/android-sdk-linux/platform-tools"

export PS1='\[\033[1;32m\][\[\033[0;37m\]<%= hostname %>:\w\[\033[1;32m\]]$\[\033[0;37m\] '
