Listen 8140
<VirtualHost *:8140>
    SSLEngine on
    SSLCipherSuite SSLv2:-LOW:-EXPORT:RC4+RSA
    SSLCertificateFile      /var/lib/puppet/ssl/certs/mgmt.priv.cluster.pem
    SSLCertificateKeyFile   /var/lib/puppet/ssl/private_keys/mgmt.priv.cluster.pem
    SSLCertificateChainFile /var/lib/puppet/ssl/certs/ca.pem
    SSLCACertificateFile    /var/lib/puppet/ssl/certs/ca.pem

    # CRL checking should be enabled; if you have problems with Apache complaining about the CRL, disable the next line
    # SSLCARevocationFile     /var/lib/puppet/ssl/crl.pem

    SSLVerifyClient optional
    SSLVerifyDepth  1
    SSLOptions +StdEnvVars

    # The following client headers allow the same configuration to work with Pound.
    RequestHeader set X-SSL-Subject %{SSL_CLIENT_S_DN}e
    RequestHeader set X-Client-DN %{SSL_CLIENT_S_DN}e
    RequestHeader set X-Client-Verify %{SSL_CLIENT_VERIFY}e

    CustomLog "|/usr/sbin/rotatelogs /var/log/puppet/access_log.%Y%m%d-%H%M 86400" common
    ErrorLog  "|/usr/sbin/rotatelogs /var/log/puppet/error_log.%Y%m%d-%H%M 86400"

	ServerName mgmt.priv.cluster
    RackAutoDetect On
    DocumentRoot /etc/puppet/rack/puppetmaster/public/
    <Directory /etc/puppet/rack/puppetmaster/>
        Options None
        AllowOverride None
        Order allow,deny
        allow from all
    </Directory>
</VirtualHost>

