127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# Public facing nic on head node
<%= ext_net %>

# Cluster Private network IP's
10.1.110.1      mgmt.priv.cluster  puppet.priv.cluster  mgmt    puppet
10.1.110.101    compute-01.priv.cluster   compute-01  
10.1.110.102    compute-02.priv.cluster   compute-02
10.1.110.103    compute-03.priv.cluster   compute-03
10.1.110.104    compute-04.priv.cluster   compute-04
10.1.110.105    compute-05.priv.cluster   compute-05


# Cluster InfiniBand IP's
10.2.110.1      mgmt-ib.ibnet
10.2.110.101    compute-01-ib.ibnet       compute-01-ib
10.2.110.102    compute-02-ib.ibnet       compute-02-ib
10.2.110.103    compute-03-ib.ibnet       compute-03-ib
10.2.110.104    compute-04-ib.ibnet       compute-04-ib
10.2.110.105    compute-05-ib.ibnet       compute-05-ib
